[Desktop Entry]
Name=RustDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=moduloais
Exec=moduloais %u
Icon=moduloais
Terminal=false
Type=Application
StartupNotify=false
